.navbar-nav {
    position: absolute;
    left: 42%;
}

.container {
    height: 850px;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heading-section {
    width: 300px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

    h1 {
        font-size: 48px;
    }

    @media (max-width: 576px) {
        top: 25%;
        left: unset;
        transform: unset;
    }
}

.product-description {
    margin-top: -200px;
    color: #ffffff;

    .product-item {
        margin-left: -60px;

        @media (max-width: 576px) {
            margin-left: unset;
        }
    }

    .logo-img {
        width: 150px;
    }

    .mid-img {
        margin: 12px;
    }

    @media (max-width: 576px) {
        p {
            color: #000000;
        }
    }

    .btn-primary {
        color: #ffffff;
        background-color: transparent;
        border-color: #ffffff;
    }

    .right-border {
        border-right: 1px solid #ffffff;

        @media (max-width: 576px) {
            border-right: none;
        }
    }
}

.brand-container {
    margin-top: 50px;
}

.carousal-container {
    width: 320px;
    position: absolute;
    left: 40%;

    @media (max-width: 576px) {
        left: 10%;
    }
}

.description-container {
    background-color: #cfcfcf;
    margin-top: 30px;

    .text-container {
        padding: 50px 50px;
        margin-left: 180px;
        
        p {
            text-align: left;
        }

        @media (max-width: 576px) {
            padding: 20px;
            margin-left: unset;
        }
    }
}

.icon-container {
    padding: 50px 50px;
    margin-top: 150px;

    img {
        width: 100px;
    }

    .icons {
        margin: 0 20px 20px 0;
        text-align: -webkit-center;
    }

    @media (max-width: 576px) {
        margin-top: 0;
    }
}

.btn-container {
    height: 120px;
    background-color: #0069d9;
    position: relative;

    button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        color: #0069d9;
        width: 180px;
    }
}

.details-container {
    padding: 50px 50px;
    margin-top: 36px;

    .align-container {
        align-self: center;
    }

    .text-container {
        text-align: left;
        margin-left: 36px;
    }

    img {
        width: 500px;
    }

    @media (max-width: 576px) {
        margin-top: 0;

        .text-container {
            margin-left: 0;
        }
    }
}

.contact-container {
    margin: 20px 0;
    img {
        width: 50px;
    }

    .border-right {
        border-right: 1px solid;
    }
}

.footer {
    height: 250px;
    background-color: #000c25;
    color: #ffffff;

    .footer-contents {
        margin-top: 40px;
    }

    .address {
        text-align: left;
    }

    .links {
        display: grid;
    }
}

.copyrights {
    margin: 20px 0;
}